#btn{
	width: auto;
	border: 2px solid rgba(254, 82, 76, 1);;
	background: #fff;
	padding: 10px 40px;
	margin-left:-15px;
	color: rgba(254, 82, 76, 1);;
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
	font-family:Arial;
	
}



#uploadbutton {
	width: auto;
	border: 2px solid rgba(254, 82, 76, 1);;
	background: #fff;
	padding: 10px 40px;
	color: rgba(254, 82, 76, 1);;
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
}

#uploadbutton:hover {
	width: auto;
	background: rgba(254, 82, 76, 1);;
	color: #fff;
	padding: 10px 40px;
	border-radius: 2px;
	cursor: pointer;
}

#closebutton{
	width: auto;
	border: 2px solid rgba(254, 82, 76, 1);;
	height:46px;
	background: #fff;
	padding: 10px 40px 10px 40px;
	color: rgba(254, 82, 76, 1);;
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
	margin-bottom:0px;

}

#closebutton:hover {
	width: auto;
	background: rgba(254, 82, 76, 1);;
	color: #fff;
	padding: 10px 40px 10px 40px;
	border-radius: 2px;
	cursor: pointer;
}



textarea {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

textarea:focus {
  -moz-box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #DDDDDD;;
  box-shadow: 0 0 5px rgba(254, 82, 76, 0.1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(254, 82, 76, 0.2);
}

label {
  width: 150px;
  float: left;
}

.control11{
	margin-top:10px;
	border:1px solid #e3e3e3;
	width:85%;
}

.control12{
	margin-top:10px;
	margin-bottom:10px;
	border-bottom: 2px solid #e3e3e3;
	width:80%;
	padding-bottom:10px;
	font-color:#e3e3e3;
}

.control1{
	margin-top:20px;	
	letter-spacing: 3px;
	padding-left: 12px;
	color:#777;
}

.control1 ol {
	position: relative;
	display: block;
	margin:80px;
	margin-bottom:20px;
    padding-left: 0px;
    margin-left: 10px;
	height: 4px;
	background: rgba(254, 82, 76, 1);
	width:90%;

}
.control1 ol::before,
.control1 ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  	border-radius: 10px;
	border: 10px solid rgba(254, 82, 76, 1);
}
.control1 ol::before {
	left: -5px;
}
.control1 ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid rgba(254, 82, 76, 1);
  	border-radius: 3px;
}

/* ---- Timeline elements ---- */

.control1 li {
	left:40px;
	position: relative;
	top: -45px;
	display: inline-block;
	float: left;
	width: 80px;
	transform: rotate(-45deg);
	font: bold 14px arial;
}
.control1 li::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -18px;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid rgba(254, 82, 76, 1);
	border-radius: 10px;
	background: #eee;
}

