<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LeagMapper">
 <resultMap id="seasonSelectMap" type="leag">
    <result property="leagNo"    column="leag_no"      jdbcType="NUMERIC"/>
    <result property="leagName"     column="lname"  jdbcType="VARCHAR"/>
   <result property="vote1"    column="art_vt1"      jdbcType="NUMERIC"/>
    <result property="voteObject1"    column="art_pd1"      jdbcType="VARCHAR"/>
     <result property="vote2"    column="art_vt2"      jdbcType="NUMERIC"/>
    <result property="voteObject2"    column="art_pd2"      jdbcType="VARCHAR"/>
    <result property="progress"    column="leag_part"        jdbcType="VARCHAR"/>
    <association property="seasonNo"    column="sea_no"  select="seasonMapper.getseason"    javaType="project.domain.Season"/>
    <association property="artist1"    column="artist_no1" select="ArtistMapper.getArtist"     javaType="project.domain.Artist"/>
    <association property="artist2"    column="artist_no2" select="ArtistMapper.getArtist"     javaType="project.domain.Artist"/>
  </resultMap>
 
 
 
 <insert id="addSeasonMapper" parameterType="Season">
    INSERT
    INTO SEASON(sea_no,sname,sea_st,sea_ed)
    VALUES (seq_season_seasonno.NEXTVAL,
             #{seasonName:VARCHAR},
             #{seasonStart:VARCHAR},
              #{seasonEnd:VARCHAR}
             )
  </insert>

  <select id="getSeasonMapper" parameterType="int" resultMap="seasonSelectMap">
    SELECT *
    FROM SEASON
    WHERE sea_no = #{seasonNo:INTEGER}
  </select>
  
    <select id="getSeasonlistMapper" resultMap="seasonSelectMap">
    SELECT *
    FROM SEASON
    ORDER BY sea_no DESC
  </select>
  
 
  
 
 
</mapper>