<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LeagUserMapper">
 <resultMap id="leaguserSelectMap" type="leaguser">
    <result property="userNo"     column="user_no"  jdbcType="NUMERIC"/>
    <result property="leagNo"    column="leag_no"      jdbcType="NUMERIC"/>
</resultMap>

<insert id="addLeagUserMapper" parameterType="leaguser">
  INSERT
    INTO LEAGUSER(USER_NO,LEAG_NO)
    VALUES (#{userNo:INTEGER},
             #{leagNo:INTEGER})
 </insert>
  
 <select id="getLeagUserMapper" parameterType="leaguser" resultMap="leaguserSelectMap">
  SELECT *
  FROM LEAGUSER
  WHERE user_no = #{userNo} AND leag_no = #{leagNo}
 </select>
 

</mapper>