<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
              
<!--  mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

  <!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
  <settings>
    <setting name="callSettersOnNulls" value="false"/>
  </settings> 
  
  <!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
  <typeAliases>
    <typeAlias alias="user" type="project.domain.User" />
    <typeAlias alias="artist" type="project.domain.Artist" />
    <typeAlias alias="search" type="project.domain.Search" />
    <typeAlias alias="userLikeArt" type="project.domain.UserLikeArt"/>
    <typeAlias alias="userLikeVid" type="project.domain.UserLikeVid"/>
     <typeAlias alias="video" type="project.domain.Video" />
     <typeAlias alias="Season" type="project.domain.Season"/>
     <typeAlias alias="leag"  type="project.domain.Leag"/>
     <typeAlias alias="leaguser" type="project.domain.LeagUser"/>
     <typeAlias alias="comment" type="project.domain.Comment" />
  </typeAliases>
  
   <!-- SQL Definition :: file include -->
  <mappers>
    <mapper resource="sql/UserMapper.xml"/>
    <mapper resource="sql/ArtistMapper.xml"/>
    <mapper resource="sql/UserLikeArtMapper.xml"/>
    <mapper resource="sql/UserLikeVidMapper.xml"/>
    <mapper resource="sql/VideoMapper.xml"/>
    <mapper resource="sql/SeasonMapper.xml"/>
    <mapper resource="sql/LeagMapper.xml"/>
    <mapper resource="sql/LeagUserMapper.xml"/>
     <mapper resource="sql/CommentMapper.xml"/>
  </mappers>

</configuration>