@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url("http://weloveiconfonts.com/api/?family=entypo");
@import url("http://weloveiconfonts.com/api/?family=zocial");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}


.btn {
  position: relative;
  display: block;
  width: 210px;
  height: 40px;
  margin: 10px auto;
  padding: 0 0 0 55px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  border-radius: 2px;
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn span {
  font-size: 14px;
  text-transform: none;
  color: #aaa;
}

.btn:before {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px entypo;
  text-align: center;
  color: #fff;
  border-radius: 2px 0 0 2px;
}

.btn.fb1:before {
  content: '\f30c';
  background: linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%);
}

.btn.tw1:before {
  content: '\f309';
  background: linear-gradient(to bottom, #00ccff 0%, #00a3cc 100%);
}


.btn:hover {
  text-shadow: 0 0 10px #fff;
}
