#heartCount{
	display: inline-block;
	margin:0px;
	width:20px;
	
}



.container4{
	
    margin-left: 200px;
    width: 700px;
	
}


.title{
	padding-top:130px;
	float:left;
	
}

.userUpdateVideo{
	margin-top: 150px;
	float:right;
}


.btn1{
	width: auto;
	border: 0px solid rgba(254, 82, 76, 0.7);
	background:rgba(254, 82, 76, 0.7);
	padding: 8px 20px;
	margin:0px;
	margin-left:2px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;

}

.container > #btn{
	width: auto;
	border: 2px solid rgba(254, 82, 76, 1);
	background: #fff;
	padding: 10px 40px;
	color: rgba(254, 82, 76, 1);
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
	
}
.container3{
	margin-left:20%;
	margin-right:20%;
}
.container3 h4{
	clear:both;
	color:gray;
	float:left;
}

.good{

	font-weight: 600;
    letter-spacing: 1px;
	float:left;
	font-size:14px;
	margin:10px 2px;
}


.good .heart1  {
	
}



.good .hits  {

	margin: -25px 20px 10px 0;
}
.good .hits img{
	margin: -25px 4px 0 0 ;
	width:35px;
	height:35px;
}


.good .heart1 #heart {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 3em;
  align-self: center;  
  /* transition: color 0.2s ease-in-out; */
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  /* animation: heart 1s cubic-bezier(.17, .89, .32, 1.49); */
}
